<h1>応援メッセージの編集</h1>

<%= form_with(model: @cheer_message, local: true) do |form| %>
  <div>
    <%= form.label :content, "応援メッセージ：" %>
    <%= form.text_area :content, rows: 4 %>
  </div>

  <div>
    <% if @cheer_message.image? %>
      <div>
        <p>現在の画像：</p>
        <%= image_tag @cheer_message.image.url %>
      </div>
    <% end %>

    <div>
      <%= form.label :image, "新しい画像をアップロード：" %>
      <%= form.file_field :image %>
    </div>
  </div>

  <div>
    <%= form.submit "更新する" %>
  </div>
<% end %>

<%= link_to '一覧に戻る', cheer_messages_path %>
