<div class="container">
  <h1 class="heading">新しい応援メッセージの作成</h1>

  <% if flash[:alert].present? %>
    <div class="flash alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= form_with(model: @cheer_message, local: true, html: { class: "form" }) do |form| %>
    <% if @cheer_message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cheer_message.errors.count, "error") %> が発生しました。</h2>

        <ul>
          <% @cheer_message.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :応援メッセージ, class: "label" %>
      <%= form.text_area :content, rows: 2, class: "text-area" %>
    </div>

    <div class="form-group">
      <%= form.label :応援画像, class: "label" %>
      <%= form.file_field :image, class: "file-input" %>
    </div>

    <div class="form-group">
      <%= form.submit "登録する", class: "submit-button" %>
    </div>
  <% end %>

  <%= link_to '一覧に戻る', cheer_messages_path, class: "link" %>
</div>
