<div class="container">
  <%= link_to '編集', edit_profile_path, class: 'btn btn-success float-right mr-2' %>
  <table class="table table-striped">
    <tr>
      <th scope="row"><%= t(User.human_attribute_name(:email)) %></th>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(User.human_attribute_name(:"名前")) %></th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(User.human_attribute_name(:"プロフィール")) %></th>
      <td><%= current_user.introduction %></td>
    </tr>
    <tr>
      <th scope="row">合計勉強時間</th>
      <td><%= current_user.study_times.total_duration_for_user(current_user) %> 分</td>
    </tr>
    <tr>
      <th scope="row">連続勉強日数</th>
      <td><%= current_user.study_times.calculate_consecutive_days(current_user) %> 日</td>
    </tr>
    <tr>
      <th scope="row">最高連続勉強日数</th>
      <td><%= current_user.study_times.max_consecutive_days_for_user(current_user) %> 日</td>
    </tr>
  </table>

  <%= link_to '一覧に戻る', study_times_path, class: "btn btn-secondary mt-3" %>
</div>
