<h1>勉強時間の詳細情報</h1>

<p>開始時間：<%= l(@study_time.started_at) %></p>
<p>終了時間：<%= l(@study_time.ended_at) %></p>
<p>合計時間[分]：<%= @study_time.duration %></p>
<p>Memo：<%= @study_time.memo %></p>

<br>

<%= link_to '編集', edit_study_time_path(@study_time) %> |
<%= link_to '一覧に戻る', study_times_path %>
